@font-face {
  font-family: "Monument";
  src: url(./fonts/Monument/MonumentExtended-Regular.otf);
}

html{
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Monument";
  overflow-x: hidden;
  background-color: #111111;
  color: #f0f0f0c3;
  scroll-behavior: smooth;
}

button{
  cursor: pointer;
}

