
   
   .slider-content{
   text-align: center;
   width: 50vw;
   height: 70vh;
   margin: auto;
   margin-top: 150px;
   /* position: absolute; */
   }
   
   .slider-content div{
    height: 40vh;
    line-height: 40px;
   }
   

.slick-dots li button:before {
 font-size: 12px; 
 color: #ffffff;
}

